.new-spot-form-and-edit {
    font-family: Arial, sans-serif;
}

.new-spot-form-and-edit p.error {
    color: red;
}

.new-spot-form-and-edit h1 {
    font-weight: bold;
}

.new-spot-form-and-edit button.feisty {
    font-weight: bold;
    color: red;
}

.new-spot-form-and-edit button.happy {
    font-weight: bold;
    color: purple;
}
