.delete-resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 400px;

    h1, p {
        margin: 0;
        padding-bottom: 10px;
    }

    button {
        display: block;
        width: 100%;
    }
}
