.delete-resource {
    font-family: Arial, sans-serif;
}

.delete-resource p.error {
    color: red;
}

.delete-resource h1 {
    font-weight: bold;
}

.delete-resource button.feisty {
    font-weight: bold;
    color: red;
}

.delete-resource button.happy {
    font-weight: bold;
    color: purple;
}
