.spot-tile {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.spot-tile img {
    border-radius: 13px;
}

.spot-tile .location-rating {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        margin-right: 5px;
    }
}
