.spot-tile {
    display: flex;
    flex-direction: column;

    .image-container {
        display: block;

        img {
            border-radius: 20px;
            width: 300px;
            height: 226px;
            object-fit: cover;
        }
    }

    .text {
        p {
            margin: 0;
        }

        .location-rating {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            svg {
                margin-right: 5px;
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 10px;

        button {
            margin-right: 10px;
        }

        button:last-child {
            margin-right: 0;
        }
    }
}