.open-modal-menu-item {
    font-family: Arial, sans-serif;
}

.open-modal-menu-item p.error {
    color: red;
}

.open-modal-menu-item h1 {
    font-weight: bold;
}

.open-modal-menu-item button.feisty {
    font-weight: bold;
    color: red;
}

.open-modal-menu-item button.happy {
    font-weight: bold;
    color: purple;
}
